<turbo-stream action="replace" target="people">
  <template>
    <h1>Persons</h1>
    <h3><%= link_to "Add Person", new_person_path, remote: true, data: { turbo_frame: 'details' } %></h3><br>

    <% Person.all.each do |person| %>
     <h3> <%= link_to person.name, person_path(person), remote: true, class: "person-link", data: { turbo_frame: 'details' } %></h3>
      <%= link_to "Edit", edit_person_path(person), remote: true, data: { turbo_frame: 'details' } %>
      <%= link_to "Destroy", person_path(person), remote: true, data: { "turbo-method": "delete" } %>
    <% end %>
  </template>
</turbo-stream>
<turbo-stream action="replace" target="details">
  <template>
    <h2>Name: <%= @person.name %></h2>
    <h3>Title: <%= @person.title %></h3>
    <h3>Age: <%= @person.age %></h3>
    <%= turbo_frame_tag 'add_details' do %>
      <%= link_to "Add details", new_person_detail_path(@person), remote: true %>
    <% end %>

    <% @person.details.each do |detail| %>
      <div class="detail-item">
        <h3>Email: <%= detail.email %></h3>
        <h3>Phone: <%= detail.phone %></h3>
        <%= link_to "Edit", edit_person_detail_path(@person, detail), remote: true, data: { turbo_frame: 'add_details' } %>
        <%= link_to "Destroy", person_detail_path(@person, detail), remote: true, data: { "turbo-method": "delete" } %>
      </div>
    <% end %>
  </template>
</turbo-stream>