<!DOCTYPE html>
<html>
  <head>
    <title>AssessmentRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      .container {
        display: flex;
      }

      .people-list {
        flex: 1;
        padding-right: 20px;
        margin: 20px;
      }

      .person-details {
        margin_top: 20px;
        flex: 1;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
